
@font-face {
    font-family: minecraft;
    src: url(/minecraft-3-cufonfonts-webfont/1_MinecraftRegular1.woff);
    font-weight: bold;
  }
/* Universal starts here */


/* book section */
*,
* :before,
*:after {
    box-sizing: border-box;

}

h1 {
    color: rgb(0, 136, 255);
    text-align: center;
}


/* search function */



/* Book */
.book {
    margin-top: 10px;
    transition: opacity 0.4s 0.2s;

}

#cover {
    background-image: url(../images/book\ cover.png);
    image-rendering: pixelated;
    background-size: 100% 100%;
}

#cover h1 {
    font-family: minecraft;
    color: white;
    margin-top: 10vw;
   margin-right: 5vw;
    font-size:3vw;
    
}


.page p {
    font-family: minecraft;
    display: flex;
    text-align: left;
    font-size:3vw;
    margin-top: 3vw;
    margin-left:2vw;
    line-height: .8;
    margin-right:1vw
}

/* back/contact section */
#back {
    background-image: url(../images/back\ cover.png);
    image-rendering: pixelated;
    background-size: 100% 100%;
    
  
}



.page {
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
    background: top no-repeat;
    background-size: cover;
    box-shadow: 2px 3px 2px #3b3b3b;
   
}

#odd{
    background-image: url(/images/left-side.jpg);
    background-size: cover;
}

#even{
    background-image: url(/images/right-side.jpg);
    background-size: cover;
}

.page:nth-child(even) {
    clear: both;
}

.book {
    perspective: 250vw;

}

.book .pages {
    width: 80vw;
    height: 55vw;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 2px;
}



.book .page {

    clear: none;
    margin: 0;
    position: absolute;
    top: 20px;
    width: 50%;
    height: 40vw;
    transform-origin: 0 0;
    transition: transform 1.4s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    cursor: pointer;
    user-select: none;
   
}

.book .page:before {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background 0.7s;
    z-index: 3;
}

.book .page:nth-child(odd) {
    pointer-events: all;
    transform: rotateY(0deg);
    right: 0;
    border-radius: 0 4px 4px 0;
    background-image: url(/images/left-side.jpg);
}

.book .page:nth-child(odd):hover {
    transform: rotateY(-15deg);
}

.book .page:nth-child(odd):hover:before {
    background-image: rgba(0, 0, 0, 0.03);
}

.book .page:nth-child(odd):before {
    background: rgba(255, 251, 251, 0);
}

.book .page:nth-child(even) {
    pointer-events: none;
    transform: rotateY(180deg);
    transform-origin: 100% 0;
    left: 0;
    border-radius: 4px 0 0 4px;
    border-color: black;
}

.book .page:nth-child(even):before {
    background: rgba(0, 0, 0, 0.2);
}

.book .page.grabbing {
    transition: none;
}

.book .page.flipped:nth-child(odd) {
    pointer-events: none;
    transform: rotateY(-180deg);
}

.book .page.flipped:nth-child(odd):before {
    background: rgba(0, 0, 0, 0.2);
}

.book .page.flipped:nth-child(even) {
    pointer-events: all;
    transform: rotateY(0deg);
}

.book .page.flipped:nth-child(even):hover {
    transform: rotateY(15deg);
}

.book .page.flipped:nth-child(even):hover:before {
    background: rgba(0, 0, 0, 0.03);
}

.book .page.flipped:nth-child(even):before {
    background: rgba(0, 0, 0, 0);
}


html,
body {
    font-family: 'Comfortaa', cursive;
    background: rgb(173, 3, 3);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
    height: 100%;
    width: 100%;
   
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    line-height: 1.5em;
}

.page:nth-child(odd) {
    background-position: right top;
}